<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<table border = "1">
    <caption>Cars</caption>
    <thead>
    <tr>
        <th>brand</th>
        <th>model</th>
        <th>color</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="cars : ${cars}">
        <td th:text="${cars.getBrand()}"></td>
        <td th:text="${cars.getModel()}"></td>
        <td th:text="${cars.getColor()}"></td>
    </tr>
    </tbody>

</table>
</body>
</html>